/* =========================================================
   FOOTER
========================================================= */
.site-footer {
    width: 100%;
    padding: 40px 0 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    z-index: 2;
}

.footer-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.site-footer > img {
    display: block;
    width: min(100% - 80px, 1400px);
    height: auto;
    margin: 0 auto;
}

.social-links img {
    display: inline-block;
    width: 40px;
    height: 40px;
    object-fit: contain;
}